<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838403400648-46eucqeln0m8q08ebfr0jhaid5b8q64v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838403400648-46eucqeln0m8q08ebfr0jhaid5b8q64v</string>
	<key>API_KEY</key>
	<string>AIzaSyA4sLv8eCJ6LlfDAub8-_HesIMUJWqEej0</string>
	<key>GCM_SENDER_ID</key>
	<string>838403400648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erikoenuma.FirestorePractice</string>
	<key>PROJECT_ID</key>
	<string>firestorepractice-80e3c</string>
	<key>STORAGE_BUCKET</key>
	<string>firestorepractice-80e3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838403400648:ios:54373e230d413de5c016fd</string>
</dict>
</plist>